<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace에는 구현할 인터페이스의 풀 패키지 명을 넣어줘야 한다. -->
<mapper namespace="com.pet.qna.model.QnaMapper">

	<!-- 여기서부터 sql 구문을 작성한다. id는 인터페이스에서 선언한 메서드명. ;는 생략 -->
	<!-- SELECT구문은 resultType을 적고 반환받을 타입을 반드시 넣어야한다. -->
	
	<!-- 문의글 등록 -->
	<insert id="insertQna"
		parameterType="com.pet.qna.model.QnaDTO">
		INSERT INTO QNA (QNA_NUM, QNA_TITLE, QNA_CONTENT, QNA_DATE, MEM_NUM,
		QNA_TYPE)
		VALUES (QNA_SEQ.NEXTVAL, #{qnaTitle}, #{qnaContent}, SYSDATE, #{memNum},
		#{qnaType})
	</insert>

	<!-- 문의글 상세보기 -->
	<select id="getQnaDetail" parameterType="int" resultType="com.pet.qna.model.QnaDTO">
		SELECT * FROM QNA WHERE QNA_NUM = #{qnaNum}
	</select>

	<!-- 문의글 수정 -->
	<update id="updateQna"
		parameterType="com.pet.qna.model.QnaDTO">
		UPDATE QNA SET
		QNA_TITLE = #{qnaTitle},
		QNA_CONTENT = #{qnaContent},
		QNA_TYPE = #{qnaType}
		WHERE QNA_NUM = #{qnaNum}
	</update>

	<!-- 문의글 삭제 -->
	<delete id="deleteQna" parameterType="int">
		DELETE FROM QNA WHERE QNA_NUM = #{qnaNum}
	</delete>

	<!-- 문의글 리스트 전체 보기 -->
	<select id="getQnaList" resultType="com.pet.qna.model.QnaDTO">
		SELECT * FROM QNA ORDER BY QNA_NUM DESC
	</select>	

</mapper>