<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 위의 3줄 필수로 넣기! -->

<!-- namespace에는 구현할 인터페이스의 풀 패키지 명을 넣어줘야 한다. -->
<mapper namespace="com.pet.board.model.MainBoardMapper">

	<!-- 여기서부터 sql 구문을 작성한다. id는 인터페이스에서 선언한 메서드명. ;는 생략-->
	<!-- SELECT구문은 resultType을 적고 반환받을 타입을 반드시 넣어야한다.-->
	
	<!-- 글 작성 -->
	<insert id = "write">
		INSERT INTO Board (board_num, board_title, regdate, board_content, pay, board_address, board_type, pet_num, mem_num) 
		VALUES (BOARD_SEQ.NEXTVAL , #{boardTitle}, CURRENT_TIMESTAMP , #{boardContent}, #{pay}, #{boardAddress}, #{boardType},#{petNum}, #{memNum} )
	</insert>

	<!-- 유저 정보 -->
	<select id = "getMemberInfo" resultType = "com.pet.users.model.UsersDTO">
		SELECT MEM_NICK, MEM_TYPE, MEM_ADDRESS, MEM_PHONE
		FROM MEMBER 
		WHERE MEM_NUM = #{memNum}
	</select>
	
	<!-- 동물 전체 정보 -->
	<select id = "getPetName" resultType = "com.pet.pet.model.PetDTO" >
		SELECT * 
		FROM PET
		WHERE MEM_NUM = #{memNum}
		ORDER BY PET_ISMAIN DESC
	</select>
	
	
	<!-- 메인 게시글 리스트 -->
	<select id = "getBoardList" resultType = "com.pet.board.model.BoardDTO">
		SELECT *
		FROM BOARD
		WHERE BOARD_TYPE IS NOT NULL
		ORDER BY REGDATE DESC
	</select>
	
	<select id = "getBoardListPet" resultType = "com.pet.pet.model.PetDTO">
		SELECT *
		FROM PET
	</select>
	

	<!-- 글 상세 -->
	<select id = "getBoard" resultType = "com.pet.board.model.BoardDTO">
		SELECT *
		FROM BOARD
		WHERE BOARD_NUM = #{boardNum}
	</select>
	
	<select id = "getBoardPet" resultType = "com.pet.pet.model.PetDTO">
		SELECT *
		FROM PET
		WHERE PET_NUM = #{petNum}
	</select>
	
	<select id = "getBoardUser" resultType = "com.pet.users.model.UsersDTO">
		SELECT *
		FROM MEMBER
		WHERE MEM_NUM = #{memNum}
	</select>
	
	
	<!-- 댓글 부르기 -->
	<select id = "getApply" resultType = "com.pet.apply.model.ApplyDTO">
		SELECT *
		FROM APPLY
		WHERE BOARD_NUM = #{boardNum}
	</select>
	
	<!-- 댓글쓰기 -->
	<insert id = "setApply">
		INSERT INTO APPLY (APPLY_NUM, MEM_NUM, APPLY_CONTENT, APPLY_DATE, BOARD_NUM) 
		VALUES(APPLY_SEQ.NEXTVAL, #{memNum}, #{applyContent}, CURRENT_TIMESTAMP, #{boardNum})
	</insert> 
	
	<!-- 글 지우기 -->
	<delete id = "deleteBoard">
		DELETE BOARD
		WHERE BOARD_NUM = #{boardNum}
	</delete>
	
	<!-- 글 수정 -->
	<update id = "updateBoard">
		UPDATE BOARD 
		SET BOARD_TITLE = #{boardTitle}, 
		BOARD_CONTENT = #{boardContent}, 
		PAY = #{pay}, 
		REGDATE = CURRENT_TIMESTAMP
		WHERE BOARD_NUM = #{boardNum}
	</update>
</mapper>
	
	
	
