<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace에는 구현할 인터페이스의 풀 패키지 명을 넣어줘야 한다. -->
<mapper namespace="com.pet.qna.model.QnaMapper">
    
    <insert id="insertQna" parameterType="com.pet.qna.model.QnaDTO">
        INSERT INTO QNA (QNA_NUM, QNA_TITLE, QNA_CONTENT, QNA_DATE, MEM_NUM)
        VALUES (QNA_SEQ.NEXTVAL, #{qnaTitle}, #{qnaContent}, SYSDATE, #{memNum})
    </insert>

    
    <select id="getQnaDetail" parameterType="int" resultType="com.pet.qna.model.QnaDTO">
        SELECT QNA_NUM, QNA_TITLE, QNA_CONTENT, QNA_DATE, MEM_NUM 
        FROM QNA 
        WHERE QNA_NUM = #{qnaNum}
    </select>

   
    <update id="updateQna" parameterType="com.pet.qna.model.QnaDTO">
        UPDATE QNA 
        SET QNA_TITLE = #{qnaTitle}, QNA_CONTENT = #{qnaContent}
        WHERE QNA_NUM = #{qnaNum}
    </update>

    
    <delete id="deleteQna" parameterType="int">
        DELETE FROM QNA 
        WHERE QNA_NUM = #{qnaNum}
    </delete>

   
    <select id="getQnaList" parameterType="string" resultType="com.pet.qna.model.QnaDTO">
        SELECT QNA_NUM, QNA_TITLE, QNA_DATE 
        FROM QNA 
        WHERE MEM_NUM = #{memNum}
        ORDER BY QNA_NUM DESC
    </select>
</mapper>