body {
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #FEF8F6;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.board-header {
    background: #F88257;
    padding: 5px;
    font-weight: bold;
}

.board-row {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.board-row.header {
    font-weight: bold;
    background: #ffe5ec;
}

.column {
    flex: 1;
    padding: 5px;
}



